.footer {

    &__content {
        padding: clamp(0.625em, 2vw, 1.125em) 0;
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        gap: clamp(0em, 2vw, 0.625em);
        align-items: stretch;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: clamp(0em, 2vw, 0.625em);

        >* {
            flex: 1;
        }
    }
}