.section {
    // // padding: clamp(3em, 6vw, 6em) 0;
    // position: relative;

    &__content {
        border: 2px solid var(--dark-12);
        border-radius: 20px;
        padding: 20px;
    }

}

.grid {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5em, 3vw, 2.5em);
    margin-top: clamp(1em, 4vw, 1em);
}